.genre {
  &__block {
    display: flex;
    align-items: center;
  }
  &__checkbox {
    margin-rigt: 8px;
  }
  &__name {
    cursor: pointer;
    padding: 4px 19px;
    border-radius: 15px;
    margin: 2px 0;

    &--active {
      color: white;
      cursor: default;
      background: $action-color;
    }
  }
}


.genres {
  &__wrapper {
    margin-top: 20px;
  }
  &__title {
    color: white;
    font-weight: 600;
  }

  &__list {
    margin-top: 14px;
    margin-bottom: 12px;
  }
}