.genre {
  &__block {
    display: flex;
    align-items: center;
  }
  &__checkbox {
    margin-rigt: 8px;
  }
  &__name {
    cursor: pointer;
    padding: 4px 19px;
    border-radius: 25%;
    &--active {
      color: white;
      cursor: no-drop;
      background: mediumvioletred;
    }
  }
}


.genres {
  &__title {
    color: blue;
    font-weight: 600;
  }

  &__list {
    margin-top: 14px;
    margin-bottom: 12px;
  }
}