// moviePageTabs

.movieTabLink {
  outline: none;
  //border-radius: 15px;
  border-bottom: 1px solid black;
  //background: antiquewhite;
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color:  $action-color;
  }
  &__active {
    pointer-events: none;
    text-decoration: none;
    //background: cornflowerblue;
    cursor: default;
    color:  $action-color;
    text-decoration: none;
  }
}

.moviePage {
  &__header {
    display: flex;
  }
  &__poster {
    @media screen and (max-width: 800px) {
      display: none;
    }
    height: auto;
    max-width: 300px;
  }
  &__overview {
    margin: 40px 0 20px 0;
    max-width: 60%;
    color: black;
    font-size: 18px;
  }
  &__data {
    margin-left: 30px;
  }
  &__title {
    color: white;
    font-size: 2rem;
  }
}


.navTabs__container {
  //margin-top: 30px;
}


.movieTabs {
  &__container {
    margin-top: 22px;
    min-height: 300px;
    margin-bottom: 12px;
  }

  &__ul {
    display: flex;
    /*    &:not(:first-child){
          margin-left: 10px;
      }*/
  }

  &__item:not(:first-child) {
    margin-left: 10px;
  }
}
.credit {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
    grid-gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    border-radius: 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    &:hover {
      background-color: $second-back-color;
      .credit__name {
        color: $action-color;
      }
    }
  }
  &__img {
    @include square(100px);
    border-radius: 50%;
  }
  &__name {
    margin-left: 5px;
    transition: all .1s ease;
    color: white;
  }
}

.similarMovies {
  &__wrap {
    margin-top: 71px;
    margin-bottom: 20px;
  }
  &__title {
    color: white;
    font-size: 19px;
  }
}


.movieKeywords {
  margin: 30px 0 20px 0;
  font-size: 17px;
  font-weight: 600;
  color: $action-color;

  max-width: 70%;
  @media screen and (max-width: 800px) {
    display: none;
  }
}