.movieCard {
  &__title {
    text-align: left;
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: all .2s ease-in-out;
  }
  &__wrap {
    margin-top: 30px;
    overflow: hidden;
    &:hover {
      .movieCard__title {
        color: white;
      }
    }
    //padding: 10px 20px;
    //border: 1px solid black;
  }
  &__img {
    width: 80%;
    //margin: 0 auto;
    max-width: 400px;
    border-radius: 15px;
    border: 3px solid blue;
  }
}



.miniMovieCard {
  &__title {
    margin-top: 5px;
    overflow: hidden;
    max-width: 165px;
    white-space: nowrap;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all .15s ease;
  }


  &__wrap {
    margin-top: 10px;
    &:hover {
      .miniMovieCard__title {
        color: $action-color;
      }
    }
  }


  &__img {
    width: 80%;
    max-width: 200px;
    border-radius: 15px;
    border: 3px solid blue;
  }
}


.posterMovieCard {
  &__title {
    text-align: center;
    color: black;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    &:hover {
      outline: none;
      text-decoration: none!important;
    }
  }
  &__wrap {
    width: fit-content;
    margin: 20px auto;
  }
  &__img {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 15px;
  }
}