.paginator {
  margin: 10px;
}

.pageNumber {
  padding: 2px;
  cursor: pointer;
  border: 1px solid blue;
}
.pageNumber .selecetedPage {
  border-color: black;
  font-weight: bold;
}
.selectedPage {
  color: red
}