
.search {
  &__icon {
    //background: url("../../assets/icons/search.svg");
    opacity: .7;
    background-size: 18px;
    width: 18px;
    height: 18px;
  }
  &__title {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 500;
  }
  &__form {
    display: flex;
  }
  &__btn {
    background: #0007A4;
    color: white;
    font-size: 17px;
    border: none;
  }
}



.searchField {
  &__input {
    border: none;
    min-width: 350px;
    border-bottom: 3px dashed darkblue;
  }

}

.searchHint__popup {
  background: green;
  width: 100%;
  color: white
}

/*
.popup-overlay {
  background: green;
  height: 100px;
  width: 150px;
  //position: absolute;
  overflow: hidden;
  color: black;
}*/
