
.search {
  &__icon {
    //background: url("../../assets/icons/search.svg");
    opacity: .7;
    background-size: 18px;
    width: 18px;
    height: 18px;
    svg {
      fill: white;
    }
  }
  &__title {
    font-size: 21px;
    font-weight: 500;
  }
  &__form {
    display: flex;
  }
  &__btn {
/*    background: #0007A4;
    color: white;
    font-size: 17px;
    border: none;*/
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    &:hover, &:focus {
      outline: none;
    }
  }
}



.searchField {
  &__input {
    border: none;
    min-width: 350px;
    //border-bottom: 3px dashed darkblue;
    //border-left: 2px solid white;
    //border: 1px solid white;
    background: transparent;
    caret-color: white;
    color: white;
  }

}


.searchHint {
  &__wrap {
    border-top: 0.5px solid white;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    z-index: 999;
    position: absolute;
    width: 100%;
    padding-bottom: 28px;
    background: #3D3D3D;
    color: white;
  }
  &__block {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px,1fr));
    grid-row-gap: 35px;
    grid-column-gap: 20px;
  }
  &__blur {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 900;
    background: transparent;
    //filter: blur(5px)
  }
}

/*
.searchHint__popup {
  background: green;
  width: 100%;
  color: white
}
*/

/*
.popup-overlay {
  background: green;
  height: 100px;
  width: 150px;
  //position: absolute;
  overflow: hidden;
  color: black;
}*/
