.specialCol {
  &__link {
    &:first-child {
      margin-top: 35px!important;
    }
    display: block;
    margin: 20px 0;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: all .15s ease-in-out;
    &:hover {
      color: $action-color;
    }
  }
}