/*
.formGroup {

}

.search {
  &__form {
    display: flex;
  }
  &__btn {
    background: #0007A4;
    color: white;
    font-size: 17px;
    border: none;
  }
}
*/

.searchField {
  &__input {
    border: none;
    min-width: 350px;
    border-bottom: 3px dashed darkblue;
  }

}